<div class="d-block" style="heigh: 100px;">
    <div class="d-flex justify-content-center align-self-center mt-4">
        <h1>404 Page Not Found</h1>
    </div>
    <div class="d-flex justify-content-center align-self-center mt-4">
        <h2>The page you requested does not exist.</h2>
    </div>
    <div class="d-flex justify-content-center align-self-center mt-4">
        <a href="/" class="accountBtn">Back to the store</a>
    </div>
</div>