<form id="login-form" class="ms-4" method="post" action="">
    <div class="mb-3">
        <label for="EmailLogin" class="form-label">Email</label>
        <input type="email" class="form-control" id="EmailLogin" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">login</button>
    <a href="/account/register">create account</a>
</form>