<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="row" style="width: 100%">
        <div class="col col-lg-5">test</div>
        <div class="col col-lg-2">
            <a href="/">
                <img src="https://www.glasslizzard.com/cdn/shop/files/full_logo.png?v=1672484078&width=300" alt="glasslizzard" height="62px">
            </a>
        </div>
        <div class="col col-lg-5">test
        </div>
    </div>
    </nav>
</header>