<div class="mt-4 ms-4">
    <a href="/products/create">Create</a>
</div>
<div class="ms-4 mt-4" style="width: 100%;">
    <table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">img</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
    {{#each products}}
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
    {{/each}}
    </tbody>
    </table>
</div>