<div style="width:400px; margin:auto">
    <div class="d-flex justify-content-center">
        <h1 style="text-align: center;">Reset your password</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
        <form id="login-form" method="post" action="?_method=PATCH" style="width:100%">
            <div class="mb-3">
                <p>{{message}}</p>
                <label for="EmailLogin" class="form-label">Email</label>
                <input name="email" type="text" class="form-control" id="EmailLogin" required>
            </div>
            <div class="mb-3">
                <label for="newpassword" class="form-label">New Password</label>
                <input name="newpassword" type="password" class="form-control" id="newpassword" required>
            </div>
            <button type="submit" class="accountBtn mt-4" style="width: 100%;">Submit</button>
        </form>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a href="/account/login">Cancel</a>
    </div>
</div>

