<div class="d-flex justify-content-center align-items-center flex-column">
    <i class="bi bi-check-circle" style="font-size: 75px; margin-bottom: 20px"></i>
    <h1 style="font-size: 75px;">Thanks for your order.</h1>
    <div class="d-flex justify-content-center align-self-center mt-4">
        <a href="/" class="accountBtn mt-4 fs-4" style="height: auto; padding: 10px 30px">Back to the store</a>
    </div>
</div>